
#contenedor1{

	margin: 1rem;
	padding: 1rem;
	width: 100%;
	text-align: center;
	
}

#caja0 img{

	


}



#caja1{

    align-items: center;
    margin-right: 30px;

}

#caja2 img{
transition:all 0.5s ease-out;}
#caja2 img:hover{
transform: rotate(360deg);
}

#caja2 img{border-radius:50px;}

#caja3{
	margin-left: 530px;
	
}

#caja4{
	margin-left: 530px;

}

#caja5{

	margin-left: 530px;
}

#caja6{

	margin-left: 530px;

}

#caja7{


}


#caja8{


}

#map{

	margin-left: 10px;
	height:300px;
    width: 600px;

}


.iconos-sociales{
margin-right: 9px;

}

.iconos-sociales img{ 
	/*margin-left: 30px;*/
	transition:all 0.5s ease-out;
	transform: rotate(360deg);
	border-radius:50px;

}
.iconos-sociales img:hover{
	transform: rotate(360deg);
}
.iconos-sociales img{ 
	
margin:5px;

} 



#img1{ 

	
	width: 520px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
	box-shadow: 0 4px 8px -3px rgba(0,0,0,.20),0 5px 8px rgba(0,0,0,.32);

	-webkit-animation: spin4 1s linear;
	-moz-animation:  spin3  1s linear;
	  -moz-animation: spin1 1s linear;
	  -webkit-animation: spin2 1s linear;
	  
	  
}

@-moz-keyframes spin1 { 100% { -moz-transform: rotateY(360deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes spin3 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }} 
@-moz-keyframes spin4 { 100% { -webkit-transform: rotateY(180deg); transform:rotateY(1deg);}}






#linea{
color: black;

}

#linea1{
	color: black;


}
#img2{
	

}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 1350px;
	height: 10px;
	background-color: #767676;
	text-align: center;
  }
 
  
      
  #cajaiframe{
	margin: 1rem;
	padding: 1rem;
	width: 100%;
	text-align: center;
	

  }

  

#text-box-720923483 .text {

    font-size: 100%;

}

  

/*Comienzo de las vistas*/

/*vista1*/

@media only screen and (max-width:320px ) and (min-width:300px){

	#img1{
	
		width: 250px;
		height: 100px;
		display: inline-block;
		vertical-align: middle;
		box-shadow: 0 4px 8px -3px rgba(0,0,0,.20),0 5px 8px rgba(0,0,0,.32);
	
		-webkit-animation: spin4 1s linear;
		-moz-animation:  spin3  1s linear;
		  -moz-animation: spin1 1s linear;
		  -webkit-animation: spin2 1s linear;
		  
		  
	}
	
	@-moz-keyframes spin1 { 100% { -moz-transform: rotateY(360deg); } }
	@-webkit-keyframes spin2 { 100% { -webkit-transform: rotateY(360deg); } }
	@keyframes spin3 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }} 
	@-moz-keyframes spin4 { 100% { -webkit-transform: rotateY(180deg); transform:rotateY(1deg);}}

	#AvCalle{
	font-size:50%;
	
	}
	#Elemento{
	
	font-size:50%;
	
	}
	
	#Nombre{
          font-size: 40%;
            }

     
     #Bogota 
      {
        font-size: 40%;

      }
    
 
	#map{
		margin-right:0px;
		margin-left: 0px;
		height: 200px;
		width: 200px;
	}


	#icono1{

		width: 40px;
		height: 40px;
	}

	#icono2{

		width: 40px;
		height: 40px;
	}

	.social-network a.icoFacebook:hover {
		background-color: #3B5998;
	  }
	  
	  .social-network a.icoTwitter:hover {
		background-color: #007bb7;
	  }
	  
	  .social-network a.icoYoutube:hover {
		background-color: #ff0000;
	  }
	  
	
	  .social-network a.icoFacebook:hover i,
	  .social-network a.icoTwitter:hover i,
	  .social-network a.icoYoutube:hover i
	   {
		color: #fff;
	  }
	  
	  .social-network a.socialIcon:hover,
	  .socialHoverClass {
		color: #44BCDD;
	  }
	  
	  .social-circle li a {
		display: inline-block;
		position: relative;
		margin: 0 auto 0 auto;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
		width: 30px;
		height: 30px;
		font-size: 15px;
	  }
	  
	  .social-circle li i {
		margin: 0;
		line-height: 30px;
		text-align: center;
	  }
	  
	  .social-circle li a:hover i,
	  .triggeredHover {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms--transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		-ms-transition: all 0.2s;
		transition: all 0.2s;
	  }
	  
	  .social-circle i {
		color: #595959;
		-webkit-transition: all 0.8s;
		-moz-transition: all 0.8s;
		-o-transition: all 0.8s;
		-ms-transition: all 0.8s;
		transition: all 0.8s;
	  }
	  
	  .social-network a {
		background-color: #F9F9F9;
	  }
}

 

/*vista2*/

@media only screen and (max-width:360px ) and (min-width:360px) {

	#img1{
	
		width: 300px;
		height: auto;
		display: inline-block;
		vertical-align: middle;
		box-shadow: 0 4px 8px -3px rgba(0,0,0,.20),0 5px 8px rgba(0,0,0,.32);
	
		-webkit-animation: spin4 1s linear;
		-moz-animation:  spin3  1s linear;
		  -moz-animation: spin1 1s linear;
		  -webkit-animation: spin2 1s linear;
		  
		  
	}
	
	@-moz-keyframes spin1 { 100% { -moz-transform: rotateY(360deg); } }
	@-webkit-keyframes spin2 { 100% { -webkit-transform: rotateY(360deg); } }
	@keyframes spin3 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }} 
	@-moz-keyframes spin4 { 100% { -webkit-transform: rotateY(180deg); transform:rotateY(1deg);}}

	#AvCalle{
	font-size:50%;
	
	}
	#Elemento{
	
	font-size:50%;
	
	}
	
	#Nombre{
          font-size: 60%;
            }


    
	#Bogota 
      {

        font-size: 60%;

      }

	#map{
		margin-right:5px;
		margin-left: 0px;
		height: 200px;
		width: 280px;
	}

	#icono1{

		width: 40px;
		height: 40px;
	}

	#icono2{

		width: 40px;
		height: 40px;
	}
	.social-network a.icoFacebook:hover {
		background-color: #3B5998;
	  }
	  
	  .social-network a.icoTwitter:hover {
		background-color: #007bb7;
	  }
	  
	  .social-network a.icoYoutube:hover {
		background-color: #ff0000;
	  }
	  
	
	  .social-network a.icoFacebook:hover i,
	  .social-network a.icoTwitter:hover i,
	  .social-network a.icoYoutube:hover i
	   {
		color: #fff;
	  }
	  
	  .social-network a.socialIcon:hover,
	  .socialHoverClass {
		color: #44BCDD;
	  }
	  
	  .social-circle li a {
		display: inline-block;
		position: relative;
		margin: 0 auto 0 auto;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
		width: 30px;
		height: 30px;
		font-size: 15px;
	  }
	  
	  .social-circle li i {
		margin: 0;
		line-height: 30px;
		text-align: center;
	  }
	  
	  .social-circle li a:hover i,
	  .triggeredHover {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms--transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		-ms-transition: all 0.2s;
		transition: all 0.2s;
	  }
	  
	  .social-circle i {
		color: #595959;
		-webkit-transition: all 0.8s;
		-moz-transition: all 0.8s;
		-o-transition: all 0.8s;
		-ms-transition: all 0.8s;
		transition: all 0.8s;
	  }
	  
	  .social-network a {
		background-color: #F9F9F9;
	  }
}



/*vista3*/

@media only screen and (max-width:375px ) and (min-width:321px) {

	#img1{
	
		width: 260px;
		height: auto;
		display: inline-block;
		vertical-align: middle;
		box-shadow: 0 4px 8px -3px rgba(0,0,0,.20),0 5px 8px rgba(0,0,0,.32);
	
		-webkit-animation: spin4 1s linear;
		-moz-animation:  spin3  1s linear;
		  -moz-animation: spin1 1s linear;
		  -webkit-animation: spin2 1s linear;
		  
		  
	}

		#AvCalle{
	font-size:50%;
	
	}
	#Elemento{
	
	font-size:50%;
	
	}
	
	#Nombre{
          font-size: 60%;
            }
#Bogota 
      {
        font-size: 60%;

      }

    
	
	@-moz-keyframes spin1 { 100% { -moz-transform: rotateY(360deg); } }
	@-webkit-keyframes spin2 { 100% { -webkit-transform: rotateY(360deg); } }
	@keyframes spin3 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }} 
	@-moz-keyframes spin4 { 100% { -webkit-transform: rotateY(180deg); transform:rotateY(1deg);}}


	

	#map{
		margin-right:0px;
		margin-left: 0px;
		height: 200px;
		width: 240px;
	}

	#icono1{

		width: 40px;
		height: 40px;
	}

	#icono2{

		width: 40px;
		height: 40px;
	}
	.social-network a.icoFacebook:hover {
		background-color: #3B5998;
	  }
	  
	  .social-network a.icoTwitter:hover {
		background-color: #007bb7;
	  }
	  
	  .social-network a.icoYoutube:hover {
		background-color: #ff0000;
	  }
	  
	
	  .social-network a.icoFacebook:hover i,
	  .social-network a.icoTwitter:hover i,
	  .social-network a.icoYoutube:hover i
	   {
		color: #fff;
	  }
	  
	  .social-network a.socialIcon:hover,
	  .socialHoverClass {
		color: #44BCDD;
	  }
	  
	  .social-circle li a {
		display: inline-block;
		position: relative;
		margin: 0 auto 0 auto;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
		width: 30px;
		height: 30px;
		font-size: 15px;
	  }
	  
	  .social-circle li i {
		margin: 0;
		line-height: 30px;
		text-align: center;
	  }
	  
	  .social-circle li a:hover i,
	  .triggeredHover {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms--transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		-ms-transition: all 0.2s;
		transition: all 0.2s;
	  }
	  
	  .social-circle i {
		color: #595959;
		-webkit-transition: all 0.8s;
		-moz-transition: all 0.8s;
		-o-transition: all 0.8s;
		-ms-transition: all 0.8s;
		transition: all 0.8s;
	  }
	  
	  .social-network a {
		background-color: #F9F9F9;
	  }
}

/*vista4*/
@media only screen and (max-width:760px ) and (min-width:400px) {

	#img1{
	
		width: 300px;
		height: auto;
		display: inline-block;
		vertical-align: middle;
		box-shadow: 0 4px 8px -3px rgba(0,0,0,.20),0 5px 8px rgba(0,0,0,.32);
	
		-webkit-animation: spin4 1s linear;
		-moz-animation:  spin3  1s linear;
		  -moz-animation: spin1 1s linear;
		  -webkit-animation: spin2 1s linear;
		  
		  
	}
	
	@-moz-keyframes spin1 { 100% { -moz-transform: rotateY(360deg); } }
	@-webkit-keyframes spin2 { 100% { -webkit-transform: rotateY(360deg); } }
	@keyframes spin3 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }} 
	@-moz-keyframes spin4 { 100% { -webkit-transform: rotateY(180deg); transform:rotateY(1deg);}}


	
	#AvCalle{
	font-size:50%;
	
	}
	#Elemento{
	
	font-size:50%;
	
	}
	
	#Nombre{
          font-size: 60%;
            }

    #Bogota 
        {
          font-size: 60%;

        }

	#map{
		margin-right:5px;
		margin-left: 0px;
		height: 280px;
		width: 320px;
	}

	#icono1{

		width: 40px;
		height: 40px;
	}

	#icono2{

		width: 40px;
		height: 40px;
	}
	.social-network a.icoFacebook:hover {
		background-color: #3B5998;
	  }
	  
	  .social-network a.icoTwitter:hover {
		background-color: #007bb7;
	  }
	  
	  .social-network a.icoYoutube:hover {
		background-color: #ff0000;
	  }
	  
	
	  .social-network a.icoFacebook:hover i,
	  .social-network a.icoTwitter:hover i,
	  .social-network a.icoYoutube:hover i
	   {
		color: #fff;
	  }
	  
	  .social-network a.socialIcon:hover,
	  .socialHoverClass {
		color: #44BCDD;
	  }
	  
	  .social-circle li a {
		display: inline-block;
		position: relative;
		margin: 0 auto 0 auto;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
		width: 30px;
		height: 30px;
		font-size: 15px;
	  }
	  
	  .social-circle li i {
		margin: 0;
		line-height: 30px;
		text-align: center;
	  }
	  
	  .social-circle li a:hover i,
	  .triggeredHover {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms--transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		-ms-transition: all 0.2s;
		transition: all 0.2s;
	  }
	  
	  .social-circle i {
		color: #595959;
		-webkit-transition: all 0.8s;
		-moz-transition: all 0.8s;
		-o-transition: all 0.8s;
		-ms-transition: all 0.8s;
		transition: all 0.8s;
	  }
	  
	  .social-network a {
		background-color: #F9F9F9;
	  }
}

/*vista5*/
@media only screen and (max-width:399px ) and (min-width:370px){

	#img1{
	
		width: 300px;
		height: auto;
		display: inline-block;
		vertical-align: middle;
		box-shadow: 0 4px 8px -3px rgba(0,0,0,.20),0 5px 8px rgba(0,0,0,.32);
	
		-webkit-animation: spin4 1s linear;
		-moz-animation:  spin3  1s linear;
		  -moz-animation: spin1 1s linear;
		  -webkit-animation: spin2 1s linear;
		  
		  
	}
	
	@-moz-keyframes spin1 { 100% { -moz-transform: rotateY(360deg); } }
	@-webkit-keyframes spin2 { 100% { -webkit-transform: rotateY(360deg); } }
	@keyframes spin3 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }} 
	@-moz-keyframes spin4 { 100% { -webkit-transform: rotateY(180deg); transform:rotateY(1deg);}}

	#AvCalle{
	font-size:50%;
	
	}
	#Elemento{
	
	font-size:50%;
	
	}
	
	#Nombre{
          font-size: 60%;
            }

   #Bogota 
      {
        font-size: 60%;

      }

	#map{
		margin-right:5px;
		margin-left: 0px;
		height: 250px;
		width: 280px;
	}


	#icono1{

		width: 40px;
		height: 40px;
	}

	#icono2{

		width: 40px;
		height: 40px;
	}
	.social-network a.icoFacebook:hover {
		background-color: #3B5998;
	  }
	  
	  .social-network a.icoTwitter:hover {
		background-color: #007bb7;
	  }
	  
	  .social-network a.icoYoutube:hover {
		background-color: #ff0000;
	  }
	  
	
	  .social-network a.icoFacebook:hover i,
	  .social-network a.icoTwitter:hover i,
	  .social-network a.icoYoutube:hover i
	   {
		color: #fff;
	  }
	  
	  .social-network a.socialIcon:hover,
	  .socialHoverClass {
		color: #44BCDD;
	  }
	  
	  .social-circle li a {
		display: inline-block;
		position: relative;
		margin: 0 auto 0 auto;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
		width: 30px;
		height: 30px;
		font-size: 15px;
	  }
	  
	  .social-circle li i {
		margin: 0;
		line-height: 30px;
		text-align: center;
	  }
	  
	  .social-circle li a:hover i,
	  .triggeredHover {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms--transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		-ms-transition: all 0.2s;
		transition: all 0.2s;
	  }
	  
	  .social-circle i {
		color: #595959;
		-webkit-transition: all 0.8s;
		-moz-transition: all 0.8s;
		-o-transition: all 0.8s;
		-ms-transition: all 0.8s;
		transition: all 0.8s;
	  }
	  
	  .social-network a {
		background-color: #F9F9F9;
	  }
}




/*vista*/
@media only screen and (max-width:299px ) and (min-width:250px){

	#img1{
	
		width: 190px;
		height: auto;
		display: inline-block;
		vertical-align: middle;
		box-shadow: 0 4px 8px -3px rgba(0,0,0,.20),0 5px 8px rgba(0,0,0,.32);
	
		-webkit-animation: spin4 1s linear;
		-moz-animation:  spin3  1s linear;
		  -moz-animation: spin1 1s linear;
		  -webkit-animation: spin2 1s linear;
		  
		  
	}

	
	@-moz-keyframes spin1 { 100% { -moz-transform: rotateY(360deg); } }
	@-webkit-keyframes spin2 { 100% { -webkit-transform: rotateY(360deg); } }
	@keyframes spin3 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }} 
	@-moz-keyframes spin4 { 100% { -webkit-transform: rotateY(180deg); transform:rotateY(1deg);}}


	
#AvCalle{
	font-size:50%;
	
	}
	#Elemento{
	
	font-size:50%;
	
	}
	
	#Nombre{
          font-size: 40%;
            }


  #Bogota 
      {
        font-size: 50%;

      }

	#map{
		margin-right:0px;
		margin-left: 0px;
		height: 190px;
		width: 170px;
	}


	#icono1{

		width: 40px;
		height: 40px;
	}

	#icono2{

		width: 40px;
		height: 40px;
	}
	.social-network a.icoFacebook:hover {
		background-color: #3B5998;
	  }
	  
	  .social-network a.icoTwitter:hover {
		background-color: #007bb7;
	  }
	  
	  .social-network a.icoYoutube:hover {
		background-color: #ff0000;
	  }
	  
	
	  .social-network a.icoFacebook:hover i,
	  .social-network a.icoTwitter:hover i,
	  .social-network a.icoYoutube:hover i
	   {
		color: #fff;
	  }
	  
	  .social-network a.socialIcon:hover,
	  .socialHoverClass {
		color: #44BCDD;
	  }
	  
	  .social-circle li a {
		display: inline-block;
		position: relative;
		margin: 0 auto 0 auto;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
		width: 30px;
		height: 30px;
		font-size: 15px;
	  }
	  
	  .social-circle li i {
		margin: 0;
		line-height: 30px;
		text-align: center;
	  }
	  
	  .social-circle li a:hover i,
	  .triggeredHover {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms--transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		-ms-transition: all 0.2s;
		transition: all 0.2s;
	  }
	  
	  .social-circle i {
		color: #595959;
		-webkit-transition: all 0.8s;
		-moz-transition: all 0.8s;
		-o-transition: all 0.8s;
		-ms-transition: all 0.8s;
		transition: all 0.8s;
	  }
	  
	  .social-network a {
		background-color: #F9F9F9;
	  }
}




/*FOOTER*/

footer {
	background:#f75700;
	background: -webkit-linear-gradient(59deg, #f75700, #00a9e0);
	background: linear-gradient(59deg, #f75700, #00a9e0);
	color: white;
	margin-top:100px;
  }
  
  footer a {
	color: #fff;
	font-size: 14px;
	transition-duration: 0.2s;
  }
  
  footer a:hover {
	color: #FA944B;
	text-decoration: none;
  }
  
  .copy {
	font-size: 12px;
	padding: 10px;
	border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
	padding-top: 2em;
	color: white;
  }
  
  
  /*SOC?AL ?CONS*/
  
  /* footer social icons */
  
  ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
  }
  
  ul.social-network li {
	display: inline;
	margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
	background-color: #3B5998;
  }
  
  .social-network a.icoTwitter:hover {
	background-color: #007bb7;
  }
  
  .social-network a.icoYoutube:hover {
	background-color: #ff0000;
  }
  

  .social-network a.icoFacebook:hover i,
  .social-network a.icoTwitter:hover i,
  .social-network a.icoYoutube:hover i
   {
	color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
	color: #44BCDD;
  }
  
  .social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	font-size: 15px;
  }
  
  .social-circle li i {
	margin: 0;
	line-height: 30px;
	text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
  }
  
  .social-circle i {
	color: #595959;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
  }
  
  .social-network a {
	background-color: #F9F9F9;
  }
  











